---
import Layout from "@/layouts/MainLayout.astro";
const infoText = "More info.";
const siteText = "See it yourself!";
---

<Layout SEO={{ title: "Projects" }}>
  <main class="mb-8 flex flex-col items-center gap-4 text-center">
    <h1 class="mb-8">My Projects</h1>
    <ul class="flex flex-col items-center gap-12">
      <li class="flex flex-col items-center gap-2">
        <h2 class="text-2xl">Grizzly Cafe</h2>
        <p>A basic cafe's website.</p>
        <button id="grizzly-info-btn" class="link">{infoText}</button>
        <a rel="prefetch" class="link" href="https://grizzlycafe.netlify.app"
          >{siteText}</a
        >
        <img
          class="aspect-[2/1.25] w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black"
          src=""
          alt="GIF of Grizzly Cafe"
        />
      </li>
      <li class="flex flex-col items-center gap-2">
        <h2 class="text-2xl">Polychrome</h2>
        <p>A versatile color palette generator with multiple algorithms.</p>
        <button id="polychrome-info-btn" class="link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://piratey7007.github.io/polychrome">{siteText}</a
        >
        <img
          class="aspect-[2/1.25] w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black"
          src=""
          alt="GIF of Polychrome"
        />
      </li>
      <li class="flex flex-col items-center gap-2">
        <h2 class="text-2xl">Bazaar</h2>
        <p>A feature-rich online marketplace.</p>
        <button id="bazaar-info-btn" class="link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://We-got-this-2023.github.io/bazaar">{siteText}</a
        >
        <img
          class="aspect-[2/1.25] w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black"
          src=""
          alt="GIF of Bazaar"
        />
      </li>
    </ul>
  </main>
</Layout>

<style>
  .modal.is-open {
    @apply pointer-events-auto opacity-100;
  }
  .modal * {
    @apply text-black;
  }
</style>
