---
import Layout from "@/layouts/MainLayout.astro";
const infoText = "More info.";
const siteText = "See it yourself!";
---

<Layout SEO={{ title: "Projects" }}>
  <main class="mb-8 flex flex-col items-center gap-4 text-center">
    <h1 class="mb-8">My Projects</h1>
    <ul class="flex flex-col items-center gap-12">
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Grizzly Cafe</h2>
        <p>A basic online cafe interface.</p>
        <p class="info-modal-content sr-only">
          The Grizzly Cafe is a pseudo-local cafe's website, where I utilized
          Google Lighthouse and learned how to effectively optimize a website to
          be more performant and accessible.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a rel="prefetch" class="link" href="https://grizzlycafe.netlify.app"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691783812/Grizzly_Cafe_yggums.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Polychrome</h2>
        <p>A versatile color palette generator.</p>
        <p class="info-modal-content sr-only">
          Polychrome is a custom color palette generator that offers a range of
          versatile algorithms. This innovative tool took me three months to
          build entirely from scratch. By incorporating TypeScript and PostCSS,
          I streamlined the development process to be efficient and accessible.
          In order to create the most effective algorithms, I dedicated
          significant time to studying color theory and delving into the
          intricacies of color interactions. Additionally, I personally designed
          and crafted all the scalable vector graphics (SVGs), including the
          logo and icons. Furthermore, I made sure to optimize the website for
          seamless responsiveness on mobile devices.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://piratey7007.github.io/polychrome">{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover=";this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Bazaar</h2>
        <p>A feature-rich online marketplace.</p>
        <p class="info-modal-content sr-only">
          Bazaar is a comprehensive online marketplace that provides users with
          the ability to create accounts, post products, search for items based
          on filters, add items to their cart, and complete a simulated checkout
          process. In addition, users can review their previous orders and
          manage their profile and payment information. The platform was
          developed using a range of technologies, including React TypeScript,
          Tailwind, and NestJS, and leverages various libraries to deliver a
          seamless and efficient development experience. Additionally, I
          leveraged Figma to create a wireframe for the platform. Bazaar was my
          first team project where I worked with other developers to create a
          more expansive website than what I could create on my own. The
          experience taught me vital communication and team building skills.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://We-got-this-2023.github.io/bazaar">{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover=";this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Slipstream</h2>
        <p>A self-hosted video platform.</p>
        <p class="info-modal-content sr-only">
          Slipstream stands as an open-source, self-hosted video streaming
          platform that combines video optimization with a range of robust
          features. The platform allows users to conveniently upload and share
          videos and images using unique links. Notably, it's an ongoing project
          with development efforts aimed at introducing x264 conversion for web
          optimization and x264 + HLS conversion for streaming. Of special
          interest is the implementation of a retention policy, automatically
          removing videos based on view count or specific date/time criteria.
          Upcoming enhancements encompass diverse aspects such as media
          customization, playlist management, and embedding capabilities. In
          this collaborative effort, our team consisted of two developers, the
          platform's owner, and myself. I took on a significant role in frontend
          development, particularly with Vue.js. Through this experience, I
          enriched my Vue.js skills and played a vital part in revitalizing the
          user interface, ultimately enhancing the overall user experience.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://github.com/ChrisToxz/Slipstream">{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover=";this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
    </ul>
  </main>
</Layout>
