---
import Layout from "@/layouts/MainLayout.astro";
const infoText = "More info.";
const siteText = "See it yourself!";
---

<Layout SEO={{ title: "Projects" }}>
  <main class="mb-8 flex flex-col items-center gap-4 text-center">
    <h1 class="mb-8">My Projects</h1>
    <ul class="flex flex-col items-center gap-12">
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">ReSignal</h2>
        <p>
          Built out of necessity, a simple Signal-like interface for old
          messages.
        </p>
        <p class="info-modal-content sr-only">
          ReSignal emerged from a common struggle among my circle—losing
          precious conversations during device switches. This project simplifies
          revisiting those memories, providing a Signal-like environment right
          on your computer, complete with message threads, attachments, and a
          smooth UI, making it easy to comfortably scroll through past
          conversations as if it were still on your device. It's not perfect,
          it's more of a workaround honestly, but I had fun doing it, and it
          solved the problem for my circle.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://github.com/piratey7007/resignal"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="; this.play()"
                    onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/yqb4lqgwowuy973mcggg.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Rediss</h2>
        <p>Peeling back the layers of in-memory databases and Redis.</p>
        <p class="info-modal-content sr-only">
          Creating Rediss, I stepped into database design, using Redis as a
          model and Go as my tool. This personal challenge led me through the
          intricacies of managing TCP servers, decoding RESP protocols, and
          exploring AOF persistence techniques, as well as finally taking on
          learning Go concurrency. I took on challenges such as setting up a
          monorepo, defining a Makefile for the project, and delving deep into
          several codebases to find other solutions to the problems I was
          facing. As a result, I gained a deeper understanding of the
          complexities of databases and the intricacies of Redis.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://github.com/piratey7007/rediss"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="; this.play()"
                    onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/jemeji8ffqyxvjiktako.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Bazaar</h2>
        <p>A feature-rich online marketplace.</p>
        <p class="info-modal-content sr-only">
          Bazaar is a comprehensive online marketplace that provides users with
          the ability to create accounts, post products, search for items based
          on filters, add items to their cart, and complete a simulated checkout
          process. In addition, users can review their previous orders and
          manage their profile and payment information. The platform was
          developed using a range of technologies, including React TypeScript,
          Tailwind, and NestJS, and leverages various libraries to deliver a
          seamless and efficient development experience. Additionally, I
          leveraged Figma to create a wireframe for the platform. Bazaar was my
          first team project where I worked with other developers to create a
          more expansive website than what I could create on my own. The
          experience taught me vital communication and team building skills.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://We-got-this-2023.github.io/bazaar"
          >{siteText}</a
        >
        <iframe
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          src="https://my.spline.design/untitled-472a9590baccd8d591282f7404b954bc/"
          loading="lazy"
          title="Bazaar logo animation."
        >
          This browser does not support iframes.
        </iframe>
        <!-- <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover=";this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video> -->
      </li>

      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Grizzly Cafe</h2>
        <p>A basic online cafe interface.</p>
        <p class="info-modal-content sr-only">
          The Grizzly Cafe is a pseudo-local cafe's website, where I utilized
          Google Lighthouse and learned how to effectively optimize a website to
          be more performant and accessible.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://grizzlycafe.netlify.app">{siteText}</a>
        <video
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="this.play()"
                    onmouseout="this.pause()"
          loop
          preload="none"
          poster=""
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691783812/Grizzly_Cafe_yggums.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Polychrome</h2>
        <p>A versatile color palette generator.</p>
        <p class="info-modal-content sr-only">
          Polychrome is a custom color palette generator that offers a range of
          versatile algorithms. This innovative tool took me three months to
          build entirely from scratch. By incorporating TypeScript and PostCSS,
          I streamlined the development process to be efficient and accessible.
          In order to create the most effective algorithms, I dedicated
          significant time to studying color theory and delving into the
          intricacies of color interactions. Additionally, I personally designed
          and crafted all the scalable vector graphics (SVGs), including the
          logo and icons. Furthermore, I made sure to optimize the website for
          seamless responsiveness on mobile devices.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://piratey7007.github.io/polychrome"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="; this.play()"
                    onmouseout="this.pause()"
          loop
          preload="none"
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">NeoVim Alpine</h2>
        <p>
          A fully fleshed out NeoVim configuration, completely containerized.
        </p>
        <p class="info-modal-content sr-only">
          During my endeavor with the NeoVim Alpine Project, I delved deeply
          into the multifaceted world of containerization. This immersive
          experience not only enabled me to master the intricacies of NeoVim
          within an Alpine environment but also provided a profound
          understanding of language servers, which I integrated seamlessly using
          lazy.nvim. My journey further enhanced my expertise in Docker,
          allowing me to craft optimized images and harness the capabilities of
          docker-compose. I explored the lightweight and resource-efficient
          Alpine Linux distribution, ensuring a streamlined and powerful
          backend. To elevate the project's front-end experience, I unearthed
          and adeptly implemented a range of NeoVim plugins, further optimizing
          its functionality. Central to this project's success was my deep dive
          into the Lua language, which I utilized to sculpt a superior and
          user-friendly NeoVim configuration.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://github.com/piratey7007/nvim-alpine"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover="; this.play()"
                    onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/b5ta7zxxlf0qx2cqm3kn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Slipstream</h2>
        <p>A self-hosted video platform.</p>
        <p class="info-modal-content sr-only">
          Slipstream stands as an open-source, self-hosted video streaming
          platform that combines video optimization with a range of robust
          features. The platform allows users to conveniently upload and share
          videos and images using unique links. Notably, it's an ongoing project
          with development efforts aimed at introducing x264 conversion for web
          optimization and x264 + HLS conversion for streaming. Of special
          interest is the implementation of a retention policy, automatically
          removing videos based on view count or specific date/time criteria.
          Upcoming enhancements encompass diverse aspects such as media
          customization, playlist management, and embedding capabilities. In
          this collaborative effort, our team consisted of two developers, the
          platform's owner, and myself. I took on a significant role in frontend
          development, particularly with Vue.js. Through this experience, I
          enriched my Vue.js skills and played a vital part in revitalizing the
          user interface, ultimately enhancing the overall user experience.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a class="link" href="https://github.com/ChrisToxz/Slipstream"
          >{siteText}</a
        >
        <iframe
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md bg-black object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          src="https://my.spline.design/slipstreamlogo-77529ee032d794731b658a757024280f/"
          loading="lazy"
          title="Slipstream logo animation."
        >
          This browser does not support iframes.
        </iframe>
        <!-- <video
          class="aspect-video w-[30rem] max-w-[90%] cursor-pointer overflow-hidden rounded-md object-cover object-bottom shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:shadow-xl"
          muted
          onmouseover=";this.play()"
          onmouseout="this.pause()"
          loop
        >
          <source
            src="https://res.cloudinary.com/dvcab5t30/video/upload/v1691782050/Polychrome_xd4pdn.mp4"
            type="video/mp4"
          />
          Your browser does not support the video tag.
        </video> -->
      </li>
    </ul>
  </main>
</Layout>
