---
import Layout from "@/layouts/MainLayout.astro";
const infoText = "More info.";
const siteText = "See it yourself!";
---

<Layout SEO={{ title: "Projects" }}>
  <main class="mb-8 flex flex-col items-center gap-4 text-center">
    <h1 class="mb-8">My Projects</h1>
    <ul class="flex flex-col items-center gap-12">
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Grizzly Cafe</h2>
        <p>A basic cafe's website.</p>
        <p class="info-modal-content sr-only">
          The Grizzly Cafe is a pseudo-local cafe's website, where I utilized
          Google Lighthouse and learned how to effectively optimize a website to
          be more performant and accessible.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a rel="prefetch" class="link" href="https://grizzlycafe.netlify.app"
          >{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md"
          controls
          muted
          autoplay
        >
          <source src="movie.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Polychrome</h2>
        <p>A versatile color palette generator with multiple algorithms.</p>
        <p class="info-modal-content sr-only">
          Polychrome is a custom color palette generator that offers a range of
          versatile algorithms. This innovative tool took me three months to
          build entirely from scratch. By incorporating TypeScript and PostCSS,
          I streamlined the development process to be efficient and accessible.
          In order to create the most effective algorithms, I dedicated
          significant time to studying color theory and delving into the
          intricacies of color interactions. Additionally, I personally designed
          and crafted all the scalable vector graphics (SVGs), including the
          logo and icons. Furthermore, I made sure to optimize the website for
          seamless responsiveness on mobile devices.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://piratey7007.github.io/polychrome">{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md"
          controls
          muted
          autoplay
        >
          <source src="movie.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </li>
      <li class="info-container flex flex-col items-center gap-2">
        <h2 class="info-modal-title text-2xl">Bazaar</h2>
        <p>A feature-rich online marketplace.</p>
        <p class="info-modal-content sr-only">
          Bazaar is a comprehensive online marketplace that provides users with
          the ability to create accounts, post products, search for items based
          on filters, add items to their cart, and complete a simulated checkout
          process. In addition, users can review their previous orders and
          manage their profile and payment information. The platform was
          developed using a range of technologies, including React TypeScript,
          Tailwind, and NestJS, and leverages various libraries to deliver a
          seamless and efficient development experience. Additionally, I
          leveraged Figma to create a wireframe for the platform. Bazaar was my
          first team project where I worked with other developers to create a
          more expansive website than what I could create on my own. The
          experience taught me vital communication and team building skills.
        </p>
        <button class="info-modal-btn link">{infoText}</button>
        <a
          rel="prefetch"
          class="link"
          href="https://We-got-this-2023.github.io/bazaar">{siteText}</a
        >
        <video
          class="aspect-video w-[30rem] max-w-[90%] overflow-hidden rounded-md"
          controls
          muted
          autoplay
        >
          <source src="movie.mp4" type="video/mp4" />
          <source src="movie.ogg" type="video/ogg" />
          Your browser does not support the video tag.
        </video>
      </li>
    </ul>
  </main>
</Layout>
