---
import { constants, links } from '../scripts/constants'
---

<div class="flex gap-2">
  <a
    class="tt-tr"
    aria-label="Discord"
    href={constants.discord}
  >
    <svg
      viewBox="0 0 101 101"
      fill="none"
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M82.0226 20.953C76.134 18.1943 69.8624 16.1616 63.2557 15C62.4418 16.4519 61.4843 18.4363 60.862 20.0334C53.8722 18.9686 46.9304 18.9686 40.0844 20.0334C39.4141 18.4363 38.4566 16.4519 37.6427 15C31.036 16.1616 24.7644 18.1943 18.8758 20.953C7.00288 39.0538 3.79527 56.7192 5.37514 74.0941C13.2745 80.0471 20.8866 83.6285 28.4029 86C30.27 83.4349 31.8978 80.6762 33.334 77.8207C30.6051 76.8044 28.0199 75.4976 25.5783 73.9973C26.2485 73.5133 26.8709 72.9809 27.4933 72.497C42.478 79.5631 58.7076 79.5631 73.5009 72.497C74.1233 73.0293 74.7456 73.5133 75.4159 73.9973C72.9743 75.4976 70.3412 76.756 67.6602 77.8207C69.0964 80.6762 70.7242 83.4349 72.5913 86C80.1076 83.6285 87.7676 80.0471 95.6191 74.0941C97.4862 53.9121 92.4114 36.4403 82.1184 20.953H82.0226ZM35.3448 63.4465C30.8445 63.4465 27.1582 59.2359 27.1582 54.0573C27.1582 48.8787 30.7488 44.6681 35.3448 44.6681C39.9407 44.6681 43.5792 48.8787 43.5313 54.0573C43.5313 59.1875 39.9407 63.4465 35.3448 63.4465ZM65.5537 63.4465C61.0535 63.4465 57.3671 59.2359 57.3671 54.0573C57.3671 48.8787 60.9577 44.6681 65.5537 44.6681C70.1497 44.6681 73.7882 48.8787 73.7403 54.0573C73.7403 59.1875 70.1497 63.4465 65.5537 63.4465Z"
        fill="black"></path>
    </svg>
  </a>
  <a class="tt-tr" aria-label="Email" href={`${links.email}${constants.email}`}>
    <svg
      viewBox="0 0 101 101"
      fill="none"
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13 27L50.5 54L88 27"
        stroke="black"
        stroke-width="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
      <path
        d="M82.7778 19H18.2222C13.1289 19 9 23.0934 9 28.1429V73.8571C9 78.9066 13.1289 83 18.2222 83H82.7778C87.8711 83 92 78.9066 92 73.8571V28.1429C92 23.0934 87.8711 19 82.7778 19Z"
        stroke="black"
        stroke-width="10"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </a>
  <a
    class="tt-t"
    aria-label="LinkedIn"
    href={`${links.linkedin}${constants.linkedin}`}
  >
    <svg
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      viewBox="0 0 101 101"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M5.9983 94H18.0017C19.6577 94 21 92.6222 21 90.9227V37.0771C21 35.3774 19.6577 34 18.0017 34H5.9983C4.34214 34 3 35.3774 3 37.0771V90.9227C3 92.6221 4.34214 94 5.9983 94Z"
        fill="black"></path>
      <path
        d="M5.9983 24H18.0017C19.6577 24 21 22.6299 21 20.9397V10.0603C21 8.37005 19.6577 7 18.0017 7H5.9983C4.34214 7 3 8.37005 3 10.0603V20.9397C3 22.6299 4.34214 24 5.9983 24Z"
        fill="black"></path>
      <path
        d="M93.3388 39.877C91.5978 37.5828 89.0308 35.6961 85.6365 34.2172C82.2423 32.7394 78.4956 32 74.3964 32C66.0749 32 59.0237 35.1795 53.2428 41.5397C52.0926 42.8052 51.2563 42.5285 51.2563 40.8172V36.687C51.2563 34.9756 49.8707 33.5888 48.1615 33.5888H37.0946C35.3853 33.5888 34 34.9756 34 36.687V90.9016C34 92.6128 35.3854 94 37.0946 94H49.4836C51.193 94 52.5782 92.6128 52.5782 90.9016V72.0472C52.5782 64.1924 53.052 58.8085 53.9995 55.8962C54.9467 52.9839 56.6993 50.6453 59.2557 48.8801C61.8124 47.1149 64.6991 46.2319 67.9172 46.2319C70.4294 46.2319 72.5784 46.8498 74.3638 48.0858C76.1491 49.3216 77.4385 51.0528 78.2318 53.2818C79.0256 55.5104 79.4221 60.4195 79.4221 68.0098V90.9015C79.4221 92.6126 80.8074 93.9998 82.5166 93.9998H94.9056C96.6148 93.9998 98 92.6126 98 90.9015V60.1988C98 54.7713 97.6583 50.6009 96.9758 47.6886C96.2932 44.7763 95.0807 42.1724 93.3388 39.877Z"
        fill="black"></path>
    </svg>
  </a>
  <a class="tt-t" aria-label="Github" href={`${links.github}${constants.github}`}>
    <svg
      viewBox="0 0 100 100"
      fill="none"
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M50 3C75.9581 3 97 24.5726 97 51.1887C97 72.475 83.5486 90.5325 64.8849 96.9104C62.502 97.3851 61.656 95.8802 61.656 94.5971C61.656 93.0085 61.7124 87.8199 61.7124 81.3715C61.7124 76.8783 60.2084 73.9457 58.5211 72.4511C68.988 71.2573 79.986 67.1821 79.986 48.6735C79.986 43.4095 78.1624 39.1139 75.145 35.7393C75.6338 34.522 77.2459 29.6205 74.6844 22.9842C74.6844 22.9842 70.7458 21.6929 61.7735 27.9251C58.0182 26.8582 53.995 26.3214 50 26.3026C46.005 26.3214 41.9865 26.8582 38.2359 27.9251C29.2542 21.6929 25.3062 22.9842 25.3062 22.9842C22.7541 29.6205 24.3662 34.522 24.8503 35.7393C21.847 39.1139 20.0093 43.4095 20.0093 48.6735C20.0093 67.1351 30.9838 71.2729 41.4225 72.4902C40.0783 73.6934 38.861 75.8159 38.438 78.932C35.759 80.1634 28.9534 82.2945 24.761 74.9297C24.761 74.9297 22.2747 70.2996 17.5559 69.9612C17.5559 69.9612 12.9734 69.9003 17.2363 72.8895C17.2363 72.8895 20.3148 74.37 22.4533 79.9395C22.4533 79.9395 25.2122 88.5403 38.2876 85.6263C38.3111 89.6542 38.3534 93.4503 38.3534 94.5971C38.3534 95.8708 37.4886 97.3615 35.1433 96.915C16.4655 90.5465 3 72.4797 3 51.1887C3 24.5726 24.0466 3 50 3Z"
        fill="black"></path>
    </svg>
  </a>
  <a
    class="tt-tl"
    aria-label="Reddit"
    href={`${links.reddit}${constants.reddit}`}
  >
    <svg
      viewBox="0 0 100 100"
      fill="none"
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M22 4C12.0589 4 4 12.0589 4 22V78C4 87.9411 12.0589 96 22 96H78C87.9411 96 96 87.9411 96 78V22C96 12.0589 87.9411 4 78 4H22ZM58.6213 48.9369C60.9968 48.8036 62.6952 50.5244 62.6619 52.4784C62.6286 54.6766 60.6749 56.6527 58.5547 56.6416C56.49 56.6194 54.7251 54.8098 54.7473 52.7226C54.7695 50.6132 56.5011 48.9146 58.6213 48.9369ZM50.9509 67.5327C47.1102 67.5993 43.7245 66.8887 40.572 65.1679C40.35 65.0458 40.1502 64.8794 39.9726 64.7129C39.3731 64.1356 39.2621 63.3362 39.6506 62.7145C40.0725 62.0484 40.8495 61.7596 41.6265 62.0372C41.9839 62.1642 42.3242 62.3255 42.6677 62.4882C42.8044 62.553 42.9417 62.618 43.0807 62.6812C45.989 64.0023 49.0305 64.5796 52.1942 64.1023C53.2304 63.9501 54.2423 63.5536 55.2366 63.1639C55.4033 63.0986 55.5695 63.0335 55.7352 62.9697C56.2474 62.7696 56.7308 62.4945 57.2144 62.2193C57.4016 62.1128 57.5888 62.0063 57.7777 61.9041C58.5436 61.4822 59.3318 61.5821 59.7647 62.1594C60.1976 62.7256 60.0977 63.4693 59.4872 64.091C57.7999 65.7896 55.6908 66.6778 53.4041 67.1996C52.7952 67.3366 52.1707 67.4006 51.6307 67.4558C51.3831 67.4812 51.1533 67.5047 50.9509 67.5327ZM40.3611 56.5195C38.8625 56.4529 37.7636 55.7647 37.0753 54.4991C36.3982 53.2445 36.6757 52.001 37.4306 50.8575C38.8292 48.7481 41.6043 48.3151 43.4692 49.8694C44.5459 50.7687 44.8679 51.8678 44.4127 53.2222C43.9576 54.5767 43.0696 55.5758 41.7819 56.1753C41.487 56.319 41.156 56.3752 40.824 56.4314C40.6687 56.4577 40.5132 56.4841 40.3611 56.5195ZM23.4662 58.7621C27.7843 77.6021 55.9572 78.79 68.6672 67.9989C72.2083 65.1568 74.0621 61.0713 75.0389 56.7415C75.0521 56.6931 75.0648 56.6447 75.0774 56.5965C75.192 56.1581 75.3026 55.7349 75.7826 55.4648C82.9424 51.9566 81.455 40.0442 73.0519 39.7C71.9015 39.5296 70.8099 39.8728 69.7342 40.2111C68.5678 40.5778 67.42 40.9387 66.2362 40.6326C62.007 38.5232 57.478 37.5129 52.7603 37.7905C53.8939 35.4243 54.3835 33.6491 54.7367 32.3686C55.6148 29.1851 55.6497 29.0587 62.6397 30.5076C63.0726 30.5742 63.2391 30.774 63.3168 31.207C63.8719 34.1046 67.3685 36.0031 70.2435 34.7152C77.2035 30.9517 70.299 21.3263 64.5379 26.8106C63.1019 27.1246 61.5172 26.7713 59.9337 26.4184C58.8855 26.1847 57.8378 25.9512 56.8342 25.9114C53.1288 24.9166 51.9693 28.8462 50.8678 32.579C50.2238 34.7619 49.5995 36.8774 48.4977 37.9015C43.7356 38.179 38.8514 38.6786 34.6887 41.1988C33.5454 41.8538 32.6019 41.8205 31.4141 41.3209C25.9416 38.4011 17.8826 44.2629 19.9806 50.6799C20.2632 51.2006 20.5601 51.7142 20.8566 52.2273C22.0395 54.2739 23.2177 56.3122 23.4662 58.7621Z"
        fill="black"></path>
      <path
        d="M58.91 49.0077C61.3143 48.8767 63.0332 50.4384 62.9995 52.2217C62.9658 54.2165 60.9884 56.02 58.8538 55.9998C56.7641 55.9797 54.9777 54.3374 55.0002 52.4433C55.0114 50.529 56.7641 48.9875 58.91 49.0077Z"
        fill="black"></path>
      <path
        d="M39.7091 56C38.1968 55.9385 37.0879 55.303 36.3934 54.1344C35.6989 52.976 35.9901 51.8177 36.7518 50.7721C38.1632 48.8245 40.9749 48.4247 42.8455 49.8598C43.9321 50.6901 44.257 51.7152 43.7977 52.9555C43.3384 54.2061 42.4423 55.1287 41.1429 55.6822C40.706 55.8667 40.1907 55.8975 39.7091 56Z"
        fill="black"></path>
      <path
        d="M50.7589 66.9974C46.8448 67.0444 43.3946 66.4523 40.1819 64.9952C39.9556 64.8918 39.752 64.7507 39.5597 64.6003C38.9488 64.1114 38.8357 63.4346 39.2316 62.9082C39.6615 62.3441 40.4534 62.0997 41.2452 62.3347C41.7543 62.4851 42.2407 62.6921 42.7271 62.8801C45.691 63.9987 48.7906 64.4781 52.0146 64.0832C53.2476 63.9328 54.4467 63.5004 55.6232 63.1244C56.3472 62.8988 57.026 62.5416 57.7047 62.222C58.4853 61.8648 59.2884 61.9399 59.7296 62.4381C60.1708 62.9176 60.069 63.5474 59.4468 64.0738C57.7273 65.5121 55.578 66.2642 53.2476 66.706C52.354 66.8846 51.415 66.9222 50.7589 66.9974Z"
        fill="black"></path>
    </svg>
  </a>
  <a
    class="tt-tl"
    aria-label="Resume"
    href="/src/assets/resume.pdf"
    download="Kirby, Kaniel.pdf"
  >
    <svg
      viewBox="0 0 100 100"
      fill="none"
      class="aspect-square w-10 opacity-50 transition-all duration-200 hover:scale-105 hover:opacity-100"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M78.5337 0H21.4709C15.1344 0 10 5.09837 10 11.3854V88.6146C10 94.9016 15.1344 100 21.4709 100H78.5292C84.8657 100 90 94.9016 90 88.6146V11.3854C90.0046 5.09837 84.8634 0 78.5337 0ZM20.7505 38.3801C20.7505 35.7114 22.9322 33.5504 25.6164 33.5504H27.3187C25.504 31.5603 24.389 28.928 24.389 26.027C24.389 19.8265 29.4569 14.7987 35.7039 14.7987C41.9555 14.7987 47.0187 19.8242 47.0187 26.0292C47.0187 28.9257 45.9038 31.5603 44.0845 33.5504H45.711C48.3998 33.5504 50.577 35.7114 50.577 38.3801V46.5275C50.577 49.0823 48.5696 51.1499 46.046 51.323H25.2815C22.7579 51.1499 20.7505 49.0823 20.7505 46.5275V38.3801ZM74.6635 85.199H25.3388C22.8061 85.199 20.7505 83.1588 20.7505 80.6449C20.7505 78.131 22.8061 76.0907 25.3388 76.0907H74.6635C77.1962 76.0907 79.2518 78.131 79.2518 80.6449C79.2518 83.1588 77.1962 85.199 74.6635 85.199ZM74.6635 68.121H25.3388C22.8061 68.121 20.7505 66.0807 20.7505 63.5668C20.7505 61.0529 22.8061 59.0127 25.3388 59.0127H74.6635C77.1962 59.0127 79.2518 61.0529 79.2518 63.5668C79.2518 66.0807 77.1962 68.121 74.6635 68.121ZM74.6635 51.0429H59.7514C57.2186 51.0429 55.163 49.0026 55.163 46.4888C55.163 43.9749 57.2186 41.9346 59.7514 41.9346H74.6635C77.1962 41.9346 79.2518 43.9749 79.2518 46.4888C79.2518 49.0026 77.1962 51.0429 74.6635 51.0429Z"
        fill="black"></path>
    </svg>
  </a>
</div>
