---
export interface Props {
  name: string;
  class?: string;
}
const { name, class: className = "" } = Astro.props;
---

<modal-component
  class="modal pointer-events-none fixed left-0 top-0 z-50 flex h-full w-full items-center justify-center bg-black bg-opacity-50 opacity-0 backdrop-blur transition-all duration-500 selection:bg-red-300"
  id={`${name}-modal`}
  aria-hidden="true"
  tabindex="-1"
  data-micromodal-close
  data-name={name}
>
  <div
    class="flex min-h-[20rem] w-[40rem] max-w-[95%] translate-y-16 flex-col items-center rounded-md bg-white p-8 transition-all duration-300 descends-[.modal.is-open]:translate-y-0"
    role="dialog"
    aria-modal="true"
    aria-labelledby={`${name}-modal-title`}
  >
    <header class="relative flex w-full justify-center pt-16">
      <h1 id={`${name}-modal-title`} class="capitalize">{name}</h1>
      <button
        class="link-black link-bg-black link absolute right-0 top-0 hover:link-red-500"
        aria-label="Close modal"
        data-micromodal-close
      >
        Close
      </button>
    </header>
    <div
      class={`my-16 flex w-full flex-col justify-around gap-4 ${className}`}
      id={`${name}-modal-content`}
    >
      <slot />
    </div>
  </div>
</modal-component>

<script>
  import { initModal } from "@/scripts/modal";
  class Modal extends HTMLElement {
    constructor() {
      super();
      const name = this.getAttribute("data-name");
      initModal(`${name}-modal-btn`, `${name}-modal`);
    }
  }

  customElements.define("modal-component", Modal);
</script>
